<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="Laert Nuhu">
      <meta name="publisher" content="Laert Nuhu">
      <meta name="copyright" content="Laert Nuhu">
      <meta name="description" content="Y3lpCamp versorgt Sie mit einem Angebot an kostenlosen Funktionen, um Ihr Unternehmen zu präsentieren und mit der Y3lpCamp-Community in Kontakt zu treten. Unten erhalten Sie weitere Informationen über die Vorteile Ihres Y3lpCamp-Geschäftseintrags.">
      <meta name="keywords" content="Laden, Sie, Fotos, hoch, einen, Link, zu, Ihrer, Website, und, stellen, Sie, sicher, dass, Ihre, Öffnungszeiten, aktuell, sind, damit, Verbraucher, die, nach, Ihrem, Unternehmen, suchen, es, schnell, finden, können.Y3lpCamp">
      <meta name="page-topic" content="Gesellschaft">
      <meta name="page-type" content="Bild Foto">
      <meta http-equiv="content-language" content="de">
      <meta name="robots" content="index, follow">
      <meta name="DC.Creator" content="Laert Nuhu">
      <meta name="DC.Publisher" content="Laert Nuhu">
      <meta name="DC.Rights" content="Laert Nuhu">
      <meta name="DC.Description" content="Y3lpCamp versorgt Sie mit einem Angebot an kostenlosen Funktionen, um Ihr Unternehmen zu präsentieren und mit der Y3lpCamp-Community in Kontakt zu treten. Unten erhalten Sie weitere Informationen über die Vorteile Ihres Y3lpCamp-Geschäftseintrags.">
      <meta name="DC.Language" content="de">
      <title>YelpCamp</title>
      <link rel="stylesheet" href="/css/bootstrap.css">
      <link rel="stylesheet" href="/css/landing.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>

    <div id="landing-header">
 		<h1>Welcome to YelpCamp!</h1>
		<a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>
