#img{
  width: 100%;
}
#thumbnail{
  padding: 0;
}
#thumbnail .caption-full{
  padding: 9px;
}
#login{
  text-align: center;
}
#map {
    height: 400px;
    width: 100%;
}
#registerforms{
  width: 30%;
  margin: 25px auto;
}
@media (max-width: 960px) {
  #registerforms{
    width: 60%;
  }
}
/*style="width: 60%;"*/
