<% include ../partials/header %>

<div class="container">

  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to my WEB</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore </p>
      <p>
        <a class="btn btn-default btn-lg" href="/campgrounds/new">Add new Campground</a>
      </p>
    </div>
  </header>



  <div class="row" style="display:flex;flex-wrap:wrap">
    <div class="col-lg-12">
      <h3>Most favorite Site</h3>


  <% campgrounds.forEach(function(camp){ %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail text-center">
        <img id="fiximg"class="img-responsive"src="<%=camp['img']%>" alt="">
        <div class="caption">
          <h4><%=camp["name"]%></h4>
        </div>
          <a href="/campgrounds/<%= camp._id%>" class="btn btn-info">More Info</a>
      </div>
    </div>
    <% }) %>
    <a href="/campgrounds/new" style="font-size:10em;text-align: center;text-decoration:none;left: 20px;margin: 0 98px;">+</a>
  </div>
  </div>
</div>



<% include ../partials/footer %>
